<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="/">VN.ETC</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="/">Về chúng tôi</a></li>
                <li><a class="nav-link scrollto" href="/">Dịch vụ</a></li>
                <li><a class="nav-link scrollto " href="/">Công trình thi công</a></li>
                <li><a class="nav-link scrollto" href="/">Đội ngũ</a></li>
                <li><a class="nav-link scrollto" href="/">Liên hệ</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->