<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-md-6">
                    <div class="footer-info">
                        <h3>VN.ETC</h3>
                        <p>
                            <strong>Address:</strong> Số 22 Trần Hữu Dực, tổ 5, Phường Tân Lợi<br> TP. Buôn Ma Thuột, Tỉnh Đắk Lắk, Việt Nam <br>
                            <strong>Phone:</strong> 02623977171<br>
                            <strong>Email:</strong> vietnam.etc.ltd@gmail.com<br>
                            <strong>Người đại diện:</strong> Trần Quang Bình
                        </p>
                         
                    </div>
                </div>

                <div class="col-lg-7 col-md-6 footer-links">
                    <h4>CHI NHÁNH - VPĐD</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Chi nhánh Đà Nằng. Giám đốc: Phùng Như Thủy </a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Văn phòng đại diện Quảng Ngãi: Trưởng Văn phòng: Nguyễn Vân Hải</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Chi nhánh Quy Nhơn:  Đang Setup</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Văn phòng đại diện Quảng Bình: Đang setup</a></li>                        
                    </ul>
                </div>

                

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Công Ty Cổ Phần Thí Nghiệm Cơ Điện Việt Nam</span></strong>. All Rights Reserved
        </div>
        <div class="credits">          
            Designed by <a href="/">vn.etc</a>
        </div>
    </div>
</footer><!-- End Footer -->