@model HomeVM
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">
        <div class="section-title">
            <h2>Customer</h2>
            <p style="color:white">Khách hàng nói về chúng tôi</p>
        </div>       

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
              
                @foreach (var item in Model.Khachhang)
                {
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/khachhang/khachhang.jpg" class="testimonial-img" alt="">
                            <h3>@item.Hoten</h3>
                            <h4>@item.Chucvu</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                @item.Noidungdanhgia
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                }

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>