@model HomeVM
@{
    string BaseAddress = VNETC_WebApp.Areas.Admin.Public.ClsPublic._BaseAddress;
}

<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Projects</h2>
            <p>Công trình đã thi công</p>
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            @foreach (var item in Model.Post)
            {
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">

                    <img src="~/assets/img/post/@item.Thumb1" class="img-fluid" alt="">
                    <div class="portfolio-info">                
                        <a href="@BaseAddress/post/@item.Slug">
                            <p>@item.PostName.Substring(0, item.PostName.Length > 30 ? 30 : item.PostName.Length)</p>
                        </a>
                        <a href="~/assets/img/post/@item.Thumb1" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="@item.PostName"><i class="bx bx-plus"></i></a>                        
                    </div>

                </div>
            }
        </div>

    </div>
</section> 