@model VNETC_WebApp.Areas.Admin.Data.TTeam

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>Đội ngũ Công ty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Avarta" class="control-label"></label>
                <input asp-for="Avarta" class="form-control" type="file" />
                <span asp-validation-for="Avarta" class="text-danger"></span>
            </div>

 

            <div class="form-group">
                <label asp-for="Hoten" class="control-label"></label>
                <input asp-for="Hoten" class="form-control" />
                <span asp-validation-for="Hoten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chucvu" class="control-label"></label>
                <input asp-for="Chucvu" class="form-control" />
                <span asp-validation-for="Chucvu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bangcap1" class="control-label"></label>
                <input asp-for="Bangcap1" class="form-control" />
                <span asp-validation-for="Bangcap1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bangcap2" class="control-label"></label>
                <input asp-for="Bangcap2" class="form-control" />
                <span asp-validation-for="Bangcap2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bangcap3" class="control-label"></label>
                <input asp-for="Bangcap3" class="form-control" />
                <span asp-validation-for="Bangcap3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zalo" class="control-label"></label>
                <input asp-for="Zalo" class="form-control" />
                <span asp-validation-for="Zalo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instagram" class="control-label"></label>
                <input asp-for="Instagram" class="form-control" />
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Twitter" class="control-label"></label>
                <input asp-for="Twitter" class="form-control" />
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

