@model WebApp.Areas.Admin.Data.TXe

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>TXe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Soxe" class="control-label"></label>
                <input asp-for="Soxe" class="form-control" />
                <span asp-validation-for="Soxe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loaixe" class="control-label"></label>
                <input asp-for="Loaixe" class="form-control" />
                <span asp-validation-for="Loaixe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDangKiem" class="control-label"></label>
                <input asp-for="NgayDangKiem" class="form-control" type="date" />
                <span asp-validation-for="NgayDangKiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HanBaoHiem" class="control-label"></label>
                <input asp-for="HanBaoHiem" class="form-control" type="date" />
                <span asp-validation-for="HanBaoHiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDaiTuGanNhat" class="control-label"></label>
                <input asp-for="NgayDaiTuGanNhat" class="form-control" type="date" />
                <span asp-validation-for="NgayDaiTuGanNhat" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tinhtrang" class="control-label"></label>
                <select asp-for="Tinhtrang" class="form-control ">
                    <option value="hoatdong">Hoạt động</option>
                    <option value="baoduong">Bảo dưỡng</option>
                    <option value="hong">Hỏng</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="MaDv" class="control-label"></label>
                <select asp-for="MaDv" class="form-select" asp-items="ViewBag.MaDv">
                    <option value=-1 selected>  </option>
                </select>
                <span asp-validation-for="MaDv" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="LaixeId" class="control-label"></label>
                <select asp-for="LaixeId" class="form-select" asp-items="ViewBag.LaixeId">
                    <option value=-1 selected>  </option>
                </select>
                <span asp-validation-for="LaixeId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Ghichu" class="control-label"></label>
                <input asp-for="Ghichu" class="form-control" />
                <span asp-validation-for="Ghichu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
