@using VNETC_WebApp.Areas.Admin.Public

@{ 
    string BaseAddress = ClsPublic._BaseAddress ;
}

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav-teoti" data-bs-toggle="collapse_teoti" href="/admin">
                <img src="~/assetsAdmin/img/logo.jpg" width="150" height="100" alt="" class="img-fluid">
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>Cấu hình</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>

            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/cauhinh">
                        <i class="bi bi-circle"></i><span>Thông tin chung</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/team">
                        <i class="bi bi-circle"></i><span>Đội ngũ</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/khachhang">
                        <i class="bi bi-circle"></i><span>Khách hàng đánh giá</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/doitac">
                        <i class="bi bi-circle"></i><span>Đối tác</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/nganhnghe">
                        <i class="bi bi-circle"></i><span>Ngành nghề</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/nganhngheCt1">
                        <i class="bi bi-circle"></i><i class="bi bi-circle"></i><span>Mã Ngành C.tiết 1</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/nganhngheCt2">
                        <i class="bi bi-circle"></i><i class="bi bi-circle"></i><span>Mã Ngành C.tiết 2</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/nganhngheCt3">
                        <i class="bi bi-circle"></i><i class="bi bi-circle"></i><span>Mã Ngành C.tiết 3</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/nganhngheCt4">
                        <i class="bi bi-circle"></i><i class="bi bi-circle"></i><span>Mã Ngành C.tiết 4</span>
                    </a>
                </li>

                <li>
                    <a href="@BaseAddress/admin/dichvu">
                        <i class="bi bi-circle"></i><span> Dịch vụ chính </span>
                    </a>
                </li>



                @*<li>
                    <a href="components-cards.html">
                        <i class="bi bi-circle"></i><span>Cards</span>
                    </a>
                </li>*@
                
            </ul>
        </li><!-- End Components Nav -->





        <li class="nav-item">
            <a class="nav-link"    href="/admin/post">
                <i class="bi bi-gem"></i><span>Bài viết</span> 
            </a>
            @*
             <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/admin/post">
                            <i class="bi bi-circle"></i><span>Bài viết</span>
                        </a>
                    </li>
                   <li>
                        <a href="icons-bootstrap.html">
                            <i class="bi bi-circle"></i><span>Artical</span>
                        </a>
                    </li>
                    <li>
                        <a href="icons-remix.html">
                            <i class="bi bi-circle"></i><span>Apis</span>
                        </a>
                    </li>
                    <li>
                        <a href="icons-boxicons.html">
                            <i class="bi bi-circle"></i><span>MD-Help</span>
                        </a>
                    </li>
            </ul>
            *@
        </li><!-- End Icons Nav -->
        <li class="nav-item">
            <a class="nav-link"   href="/admin/help">
                <i class="bi bi-question-circle"></i><span>Help</span> 
            </a>

            @*<ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                <li>
                    <a href="@BaseAddress/admin/user">
                        <i class="bi bi-circle"></i><span>Danh sách User</span>
                    </a>
                </li>
                <li>
                    <a href="@BaseAddress/user/create">
                        <i class="bi bi-circle"></i><span>Đăng ký </span>
                    </a>
                </li>

            </ul>*@

        </li>

    </ul>

</aside>